
	<div style="position: relative; width: 100vw; height: 110vh;">
		<div style="display: flex; justify-content: center; align-items: center;; width: 100vw; height: 20vh; position: absolute; bottom: 0px;">
			<div style="height: max-content;">
				<a href="https://www.linkedin.com/in/thomas-pofahl-b76b7521b/" target="_blank"><img src="../../assets/icon-linkedin.svg" width="128" height="128"/></a>
				<a href="https://github.com/TPofahl" target="_blank" style="margin-left: 15vw; margin-right: 15vw;"><img src="../../assets/icon-github.svg" width="128" height="128"/></a>
				<a href="https://portfolio-pofahl.vercel.app/" target="_blank"><img src="../../assets/icon-portfolio.svg" width="128" height="128"/></a>
			</div>
		</div>
	</div>
